body {
    padding: 0;
    margin: 0;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0px;
}

#header {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    /* height: 56px; */
    color: black;
    width: 100%;
    border-bottom: 2px solid black;
    /* margin: 15px 10px; */
    /* border-radius: 30px; */
}

.projectInfo {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-right: 7%;
}

p.projectInfo {
    font-size: 27px;
    font-weight: 400;
    padding: 10px;
}

.projectInfo dialog {
    position: relative;
    right: 10px;
    top: 80px;
    
}

.homeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    flex: 1;
    background-color: white;
}

.homeBody h1 {
    margin-top: 250px;
    font-size: 90px;
    color: black;
}


.homeBody select {
    position: relative;
    appearance: none;
    padding: 10px;
    width: 500px;
    border-radius: 15px;
    border: black 2px solid;
    background-color: white;
    cursor: pointer;
    font-size: 20px;

    /* Adding custom down arrow to the select element */
    background-image: url('../icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px 12px;
}

.homeBody select::after {
    content: '\25BC';
    position: absolute;
    right: 15px;
    pointer-events: none;
}

.homeBody button{
    position: relative;
    appearance: none;
    padding: 10px;
    width: 90px;
    border-radius: 15px;
    border: black 2px solid;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

.homeBody button:active {
    background-color: rgb(192, 192, 192);
}

.dashboardBody {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    overflow: scroll;
}

.sideContent {
    /* background-color: #dae7ff; */
    border-right: 2px solid black;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#seasonRaceList {
    width: 85%;
}

#seasonRaceList tr {
    line-height: 1.75;
    font-size: 19px;
}

#seasonRaceList button {
    padding: 5px 13px;
    background-color: white;
    border: 1px black solid;
}
#seasonRaceList button:hover {
    /* padding: 5px 10px; */
    background-color: #d8d8d8;
    cursor: pointer;
    /* border: none; */
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
}
.raceHeader {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 10px 10px;
}

.raceInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: scroll;
}

#raceNameSubHeader {
    font-size: 64px;
}

#circuitNameSubHeader {
    font-size: 30px;
}

#qualifyingTable tr {
    line-height: 1.90;
}

.textCentered {
    text-align: center;
}

#nameColumn {
    width: 30%;
}

.subInfo {
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items:end;
    padding-right: 10px;
    font-size: 20px;
}

.subInfo h4 {
    margin: 5px 0;
}

#qualifyingContent {
    flex: 1;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#qualifyingTable {
    width: 90%;
}

#resultsContent {
    /* background-color: green; */
    flex: 1;
    width: 50%;
    overflow: scroll;
    display: flex;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#topSpots {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#topSpots h2{
    width: 250px;
    border: 2px black solid;
    padding: 10px;
    margin: 2px 0;

}

#resultsTable {
    /* background-color: red; */
    width: 90%;
}
#resultsTable th {
    /* background-color: red; */
}

/* For elements that want to increase in size when being hovered over */
.increasing-hover {
    cursor: pointer;
    transition: scale 0.5s;
}

.increasing-hover:hover {
    scale: 110%;
}

.hidden {
    display: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkenOnHover:hover {
    background-color: #2727272a;
    cursor: pointer;
}
