body {
    padding: 0;
    margin: 0;
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0px;
}

#header {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    color: black;
    width: 100%;
    border-bottom: 2px solid black;
}

#aboutDialog {
    position: fixed;
    top: 57px;
    left: 76%;
    margin: 0;
    padding: 20px;
    border: 1px solid black;
    border-top: none;
    background-color: white;
    width: 300px;
}

dialog::backdrop {
    background-color: rgba(255, 255, 255, 0);
}

#closeBtn {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#textLogo {
    margin: 0 10px;
    font-size: 40px;
    cursor: pointer;
    padding: 5px;
}

.projectInfo {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-right: 7%;
}

p.projectInfo {
    font-size: 27px;
    font-weight: 400;
    padding: 10px;
    width: fit-content;
}



.homeBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: white;
    overflow: scroll;
}

.homeBody h1 {
    font-size: 90px;
    color: black;
}


.homeBody select {
    position: relative;
    appearance: none;
    padding: 10px;
    width: 500px;
    border-radius: 15px;
    border: black 2px solid;
    background-color: white;
    cursor: pointer;
    font-size: 20px;

    /* Adding custom down arrow to the select element */
    background-image: url('../icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 12px 12px;
}

.homeBody select::after {
    content: '\25BC';
    position: absolute;
    right: 15px;
    pointer-events: none;
}

.homeBody button {
    position: relative;
    appearance: none;
    padding: 10px;
    width: 90px;
    border-radius: 15px;
    border: black 2px solid;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
}

.homeBody button:active {
    background-color: rgb(192, 192, 192);
}

.dashboardBody {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    overflow: scroll;
}

.sideContent {
    border-right: 2px solid black;
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#seasonRaceList {
    width: 85%;
}

#seasonRaceList tr {
    line-height: 1.75;
    font-size: 19px;
}

#seasonRaceList button {
    padding: 5px 13px;
    background-color: white;
    border: 1px black solid;
}

#seasonRaceList button:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}

.mainContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: scroll;
}

.raceHeader {
    display: flex;
    align-items: row;
    justify-content: space-between;
    padding: 10px 10px;
}

.raceInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: scroll;
}

#raceNameSubHeader {
    font-size: 64px;
}

#circuitNameSubHeader {
    font-size: 30px;
    width: fit-content;
}

.wikiPageBtn {
    background: white;
    border: 1px black solid;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    color: black;
    width: 60px;
    text-align: center;
}

#wikiPageBtn:hover {
    background-color: #d8d8d8;
}

#qualifyingTable tr {
    line-height: 1.90;
}

#qualifyingTable thead {
    font-weight: 700;
}

.textCentered {
    text-align: center;
}

#nameColumn {
    width: 30%;
}

.subInfo {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
    font-size: 20px;
}

.subInfo h4 {
    margin: 5px 0;
}

#qualifyingContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

#qualifyingTable {
    width: 90%;
}

#resultsContent {
    flex: 1;
    width: 50%;
    overflow: scroll;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#topSpots {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#topSpots h2 {
    width: 250px;
    border: 2px black solid;
    padding: 10px;
    margin: 2px 0;

}

#resultsTable {
    width: 90%;
}


.centeredDialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px black solid;
    width: 950px;
    height: 500px;
    flex-direction: row;
    overflow: hidden;
}

.closeButtonSpace {
    width: 100%;
    height: 30px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}

.placeholderImg {
    width: 100;
    height: 170px;
}

#circuitAbout {
    width: 700px;
    height: 300px;
}

#circuitName {
    font-size: 25px;
}

#circuitAbout .profileDialog {
    display: flex;
    align-items: center;
    padding: 0 30px;
}

#circuitInfo {
    height: 100%;
    flex: 1;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#circuitLocation, #circuitCountry {
    font-size: 24px;
    font-weight: 500;
}

#circuitWikiBtn {
    position: relative;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
}

.profileDialog {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100%;
}

#constructorInfo {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
    padding: 0 10px;
    overflow: hidden;
}

.dialogCloseBtn {
    position: absolute;
    right: 10px;
    top: 10px;

}

#driverName {
    font-size: 50px;
    font-weight: 800;
}

#driverBirth, #driverAge, #driverNationality{ 
    font-size: 25px;
    font-weight: 600;
}


.dialogMainContent {
    display: flex;
    flex-direction: row;
    height: auto;
}

.titleName {
    font-size: 50px;
    font-weight: 800;
}
.profileInfo {
    font-size: 48px;
    font-weight: 800;
}

#constructorRaces, #driverRaces {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 30px 0;
    overflow: scroll;
}

#constructorTable,#driverTable {
    width: 80%;
    text-align: center;
    overflow: scroll;
}

#driverInfo {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230px;
    padding: 0 10px;
    overflow: hidden;
}

#driverRaces {
    display: flex;
    width: 100%;
}
#constructorWikiBtn, #driverWikiBtn {
    font-size: 22px;
    width: 70px;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 50px;
    left: 175px;
    transform: translate(-50%, -50%);
}

/* For elements that want to increase in size when being hovered over */
.increasing-hover {
    cursor: pointer;
    transition: scale 0.5s;
}

.increasing-hover:hover {
    scale: 110%;
}

/* Hiding Article/Elemets pages from the screen */
.hidden {
    display: none;
}

/* Quick Center for specific items */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Quick way to darken hovered items */
.darkenOnHover:hover {
    background-color: #2727272a;
    cursor: pointer;
}
